<style>

    .email-wrapper {
    width: 600px;
    max-width: 100%;
    background: #eee;
}

    .email-container {
        width: 80%;
        margin: 40px auto;
        border: solid 1px #222;
    }

    .email-header {
        width: 100%; 
        height: 20%;
        padding: 60px; 
        background: black;
        color: white;
    }

    .email-body {
        width: 100%; 
        height: 60%;
        padding: 60px; 
        background: white;
        color: black;
    }

    /* From Bootstrap */
    .btn {
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-family: ;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        --bs-btn-color: #212529;
        --bs-btn-bg: transparent;
        --bs-btn-border-width: 1px;
        --bs-btn-border-color: transparent;
        --bs-btn-border-radius: 0.375rem;
        --bs-btn-box-shadow: inset 0 1px 0rgba(255, 255, 255, 0.15),0 1px 1pxrgba(0, 0, 0, 0.075);
        --bs-btn-disabled-opacity: 0.65;
        --bs-btn-focus-box-shadow: 0 0 0 0.25remrgba(var(--bs-btn-focus-shadow-rgb), .5);
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
        border-radius: var(--bs-btn-border-radius);
        background-color: var(--bs-btn-bg);
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .btn-dark {
        color: white;
        background: #222;
        border: solid 1px #222;
    }

</style>

<div class="email-wrapper">
    <div class="email-container">
        <div class="email-header">
            <h1>Password Reset</h1>
        </div>
        <div class="email-body">
            <p>
                Hello {{ first_name }},
                <br>
                <br> 
                <!-- PUT A LINK AT THE 'CONTACT US' -->
                Please click below to reset your Warwick ASOC account password. If you have any questions please contact us.
            </p>
            <a href='{{ reset_link }}' class='btn btn-primary'>Reset Password</a>
            <p>
                Thank you,
                <br>
                Warwick ASOC Support
            </p>
        </div>
    </div>
</div>