<div class="email-wrapper">
    <div class="email-container">
        <div class="email-header">
            <h1>Verify Your Email</h1>
        </div>
        <div class="email-body">
            <p>
                Hello {{ first_name }},
                <br>
                <br>
                Thanks for joining the Warwick ASOC community! To access your account, please verify your email address using the link below.
            </p>
            <a href='{{ verification_link }}' class='btn btn-primary'>Verify Email</a>
            <p>
                Thank you,
                <br>
                Warwick ASOC Support
            </p>
        </div>
    </div>
</div>