/* Custom variables */
:root {
    --accent-color: #ff4545;
    --dark-accent: #dd2323;
    --mid-grey: #212121;
    --dark-grey: #111;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hidden form label for accessibility purposes
(from https://www.w3.org/WAI/tutorials/forms/labels/) */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

html, 
body {
    max-width: 100%;
    min-height: 100vh;
    width: 100vw;
    height: 100%;
    background: var(--dark-grey);
}


/* Navbar */

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* nav .nav-link {
    color: white;
}

nav .active {
    color: var(--accent-color) !important;
} */


nav .dropdown-menu-dark {
    border: solid 1px #222;
    background: var(--dark-grey);
}

nav .dropdown-menu .dropdown-item:hover {
    background: #222 !important;
}

nav .dropdown-menu .dropdown-item.active, 
nav .dropdown-menu .dropdown-item:active  {
    background: inherit;
}

main {
    width: 100%;
    height: calc(100vh - 56px); /* DON'T HARDCODE 56PX */
    position: absolute;
    left: 0;
}


/* Forms, buttons */

.form-floating {
    width: 100%;
    text-align: left;
}

.form-control {
    font-size: 0.9rem;
    margin: 10px 0;
}

.form-control:focus,
.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    padding: 10px 30px;
}

.btn-primary {
    color: white;
    background: var(--accent-color);
    border: solid 1px var(--accent-color);
}

.btn-primary:hover {
    background: var(--dark-accent);
    border: solid 1px var(--dark-accent);
}

.btn:focus {
    border: inherit;
}

.btn-white {
    color: #000;
    mix-blend-mode: screen;
    background: white;
    border: solid 1px white;
}

.btn-white:hover {
    color: #000;
    mix-blend-mode: screen;
    background: #ddd;
    border: solid 1px #ddd;
}


/* Containers */

.container-login {
    width: 30%;
    padding: 40px;
    background: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    
    .container-login {
        width: 85%;
    }
}

.container-login .description {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.container-login .btn {
    width: 100%;
    height: calc(3.5rem + 2px);
}

.container-membership {
    top: 20%;
    transform: translate(-50%, 0);
}


/* Home page */

#home-page {
    color: white;
    align-items: center;
    justify-content: left;
    text-align: left;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#home-page .home-container {
    padding: 60px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
}

#home-page p {
    font-weight: 300;
}

#home-page .social-icons {
    margin-top: 80px;
}

#home-page .social-link i {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: all 0.5s ease;
}

#home-page .social-link i:hover {
    transform: translateY(-5px);
}


/* Membership page */

.membership-toggles { 
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.membership-toggles .toggle {
    height: auto; 
    width: 50%; 
    color: #616161;
    background: white;
    border: solid 1px black;
    border: 2px solid transparent;
    border-bottom: 2px solid #e0e0e0;
    padding: 7px;
    margin-top: -7px;
}

.membership-toggles .active-toggle {
    color: black;
    border-bottom: 2px solid black;
}

.membership-info {
    padding-top: 20px;
}


/* Team page */

.team-page {
    width: 100%;
    height: 100%;
    padding: 0 calc(20px + 10vw);
}

.team-page .team-header {
    color: white;
    padding-top: 50px;
    text-align: center;
}

.team-swiper {
    margin: 30px 0;
    padding-bottom: 40px;
}

.team-swiper .swiper-pagination-bullet {
    background: white;
}

.team-swiper .swiper-slide {
    width: 100px;
}

.team-swiper .swiper-slide .content {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* CHANGE TO ROW WHEN VH IS A CERTAIN SIZE - LIKE WDSS */
    justify-content: center;
    align-items: center;
}

.team-swiper .swiper-slide .content .swiper-img {
    height: 50vh;
    width: 100%;
}

.team-swiper .swiper-slide .swiper-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team-swiper .swiper-slide .swiper-text {
    width: 100%;
    padding: 14px 0;
    text-align: left;
}

.team-swiper .swiper-slide .swiper-text .name {
    font-size: 1.2rem;
    font-weight: 600;
}

.team-swiper .swiper-slide .swiper-text .role {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1rem;
    font-weight: 400;
}


/* Miscellaneous */

.hidden {
    display: none;
}

.flashed-msg {
    z-index: 99;
    position: fixed;
    bottom: 0;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.alert {
    margin-bottom: 10px;
}

.alert-primary {
    color: black;
    background: white;
    border: white;
}

i {
    margin-right: 7px;
}

.white {
    color: white;
}

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-weight: 600;
}

p {
    font-weight: 400;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    color: var(--dark-accent);
}