:root {
    --accent-primary: #ff4545;
    --accent-dark: #dd2323;
    --dark-grey: #111;
    --mid-grey: #222;
    --light-grey: rgba(255, 255, 255, 0.55);
    --content-width: 80%;
}

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    height: 100%;
    background: var(--dark-grey);
}

main {
    width: 100%;
    height: calc(100vh - 56px);
    position: absolute;
    left: 0;
}


/* Navbar */

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


nav .dropdown-menu-dark {
    border: solid 1px var(--mid-grey);
    background: var(--dark-grey);
}

nav .dropdown-menu .dropdown-item:hover {
    background: var(--mid-grey) !important;
}

nav .dropdown-menu .dropdown-item.active,
nav .dropdown-menu .dropdown-item:active {
    background: inherit;
}


/* Text */

h1 {
    font-weight: 600;
    font-size: 3rem;
}

h2 {
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
}

p {
    font-weight: 400;
}

a {
    color: var(--accent-primary);
    text-decoration: none;
    transition: all .15s ease;
}

a:hover {
    color: var(--accent-dark);
}


/* Forms */

.form-floating {
    width: 100%;
    text-align: left;
}

.form-control {
    color: white;
    background: var(--mid-grey);
    font-size: 0.9rem;
    margin: 10px 0;
    border-color: var(--light-grey);
}

.form-control:focus {
    color: white;
    background: var(--mid-grey);
    background-color: var(--mid-grey);
    border-color: white;
    outline: none;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all 0s 50000s;
}


/* Buttons */

.btn {
    padding: 10px 30px;
    border: none;
    margin-bottom: 1rem;
}

.btn:focus,
.btn:active,
.btn:focus-visible {
    outline: none;
    box-shadow: none;
    border: inherit;
}

.btn-primary {
    color: white;
    background: var(--accent-primary);
}

.btn-primary:hover,
.btn-primary:disabled {
    background: var(--accent-dark);
}

.btn-primary:focus,
.btn-primary:active {
    background-color: var(--accent-dark);
}


/* Containers */

.page-header {
    color: white;
    padding: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.container {
    color: white;
    background: var(--mid-grey);
    width: 30%;
    padding: 40px;
    border-radius: 5px;
    border: none;
}

@media only screen and (max-width: 992px) {

    .container {
        width: var(--content-width);
    }

    .calendar-month {
        display: none;
    }

    .calendar-agenda {
        display: block !important;
    }
}

.container .description,
.container .description a {
    color: var(--light-grey);
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.container .description a:hover {
    color: white;
}

.container .btn {
    width: 100%;
    height: calc(3.5rem + 2px);
}


/* Home page */

#home-page {
    color: white;
    align-items: center;
    justify-content: left;
    text-align: left;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#home-page .home-container {
    padding: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#home-page p {
    font-weight: 300;
}

#home-page .social-icons {
    margin-top: 70px;
}


/* Membership page */

#membership-page ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0;
}

#membership-page ul li {
    border-bottom: solid 1px var(--light-grey);
    padding: 5px 0;
}

#membership-page .container .membership-toggles {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

#membership-page .container .membership-toggles .toggle {
    height: auto;
    width: 50%;
    color: var(--light-grey);
    background: inherit;
    border: 2px solid transparent;
    border-bottom: 2px solid var(--light-grey);
    padding: 7px;
    margin-top: -7px;
}

#membership-page .container .membership-toggles .active-toggle {
    color: white;
    border-bottom: 2px solid white;
}

#membership-page .container .membership-info {
    padding-top: 20px;
}

#membership-page .container .membership-info p {
    margin-bottom: 0.6rem;
}


/* Events page */

#events-page .calendar-container {
    margin: 0 auto;
    width: var(--content-width);
    height: 65vh;
}

#events-page .calendar-agenda {
    display: none;
}


/* Team page */

#team-page .team-swiper {
    width: calc(var(--content-width) - 50px); 
    margin: 0 auto;
    padding-bottom: 50px;
}

#team-page .team-swiper .swiper-pagination-bullet {
    background: white;
}

#team-page .team-swiper .swiper-slide {
    width: 100px;
}

#team-page .team-swiper .swiper-slide .content {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-height: 415px) {

    #team-page .team-swiper .swiper-slide .content {
        flex-direction: row;
    }

    #team-page .team-swiper .swiper-slide .swiper-text {
        padding: 14px !important;
    }

}

#team-page .team-swiper .swiper-slide .content .swiper-img {
    height: 50vh;
    width: 100%;
}

#team-page .team-swiper .swiper-slide .swiper-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#team-page .team-swiper .swiper-slide .swiper-text {
    width: 100%;
    padding: 14px 0;
    text-align: left;
}

#team-page .team-swiper .swiper-slide .swiper-text .name {
    font-size: 1.2rem;
    font-weight: 600;
}

#team-page .team-swiper .swiper-slide .swiper-text .role {
    color: var(--light-grey);
    font-size: 1rem;
    font-weight: 400;
}


/* Contact page */

#contact-page {
    padding-bottom: 20px;
}

#contact-page .social-icons {
    margin: 30px auto;
    margin-bottom: 15px;
    text-align: center;
}


/* Miscellaneous */

.hidden {
    display: none;
}

.alert {
    margin-bottom: 10px;
    text-align: center;
}

.flashed-message {
    color: var(--light-grey);
    background: var(--dark-grey);
    border: none;
    z-index: 99;
    margin: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    text-align: left;
}

i {
    margin-right: 7px;
}

.social-link i {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: all 0.3s ease;
}

.social-link i:hover {
    transform: translateY(-5px);
}
