{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}

{% block main %}

    <div id="events-page">

        <div class="page-header">
            <h2>ASOC Events</h2>
            <p>View past and upcoming socials from our calendar</p>
        </div>

        <div class="calendar-container calendar-month">
            <iframe src="https://calendar.google.com/calendar/embed?height=450&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FSingapore&showCalendars=0&showTabs=1&showPrint=0&showTitle=0&hl=en_GB&src=dmNvMnBjb2gxM2pnNXRsaDJtYTE3aWMwNjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23F6BF26" style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>

        <div class="calendar-container calendar-agenda">
            <iframe src="https://calendar.google.com/calendar/embed?height=450&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FSingapore&showCalendars=0&showTabs=1&showPrint=0&showTitle=0&hl=en_GB&mode=AGENDA&src=dmNvMnBjb2gxM2pnNXRsaDJtYTE3aWMwNjRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23F6BF26" style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    
    </div>
        
{% endblock %}
