{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <!-- Flashed messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show flashed-msg" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="hero-img">
        <div class="hero-overlay"></div>
        <div class="hero-text">
            <h1 class="white">We are Warwick Asian Society</h1>
            <p class="white">Welcome to the UK's oldest Asian society, and the <br> largest cultural society at the University of Warwick</p>
            <a href="/membership" class="btn btn-dark">Become a member</a>
        </div>
    </div>
        
{% endblock %}
