{% extends "layout.html" %}

{% block title %}
    Our Team
{% endblock %}

{% block main %}

    <div class="team-page">

        <div class="team-header">
            <h2 class="white">Meet the Team</h2>
            <p class="white">Get to know the faces behind Warwick ASOC this year</p>
        </div>

        <div class="list-group">
            <a href="#senior" class="list-group-item list-group-item-action active" aria-current="true">
                Senior Exec
            </a>
            <a href="#vp-treasurer" class="list-group-item list-group-item-action">VP / Treasurer</a>
            <a href="#technology" class="list-group-item list-group-item-action">Technology</a>
            <a href="#sports" class="list-group-item list-group-item-action">Sports</a>
            <a href="#events" class="list-group-item list-group-item-action">Events</a>
            <!-- <a href="#" class="list-group-item list-group-item-action">Charities</a>
            <a href="#" class="list-group-item list-group-item-action">Careers</a>
            <a href="#" class="list-group-item list-group-item-action">Marketing</a>
            <a href="#" class="list-group-item list-group-item-action">Speakers</a>
            <a href="#" class="list-group-item list-group-item-action">Ball</a>
            <a href="#" class="list-group-item list-group-item-action">Tour</a>
            <a href="#" class="list-group-item list-group-item-action">Welfare</a>
            <a href="#" class="list-group-item list-group-item-action">Diversity</a> -->
        </div>

    
        <section id="senior">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="../static/img/exec/neil.jpg" class="card-img-top" alt="Neil Shaabi">
                        <div class="card-body">
                            <h5 class="card-title">Rishi Jopanputra</h5>
                            <p class="card-text">Co-President</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../static/img/exec/adam.jpg" class="card-img-top" alt="Neil Shaabi">
                        <div class="card-body">
                            <h5 class="card-title">Vishali Poojara</h5>
                            <p class="card-text">Co-President</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="vp-treasurer">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="../static/img/exec/neil.jpg" class="card-img-top" alt="Neil Shaabi">
                        <div class="card-body">
                            <h5 class="card-title">Bela Bhagat</h5>
                            <p class="card-text">Vice-President and Secretary</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../static/img/exec/adam.jpg" class="card-img-top" alt="Neil Shaabi">
                        <div class="card-body">
                            <h5 class="card-title">Gaurav Pant</h5>
                            <p class="card-text">Treasurer</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="technology">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img src="../static/img/exec/neil.jpg" class="card-img-top" alt="Neil Shaabi">
                        <div class="card-body">
                            <h5 class="card-title">Neil Shaabi</h5>
                            <p class="card-text">Technology Coordinator</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="../static/img/exec/adam.jpg" class="card-img-top" alt="Neil Shaabi">
                        <div class="card-body">
                            <h5 class="card-title">Adam Syed</h5>
                            <p class="card-text">Technology Coordinator</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

{% endblock %}
