{% extends "layout.html" %}

{% block title %}
    Our Team
{% endblock %}

{% block main %}

    <div id="team-page">

        <div class="page-header">
            <h2>Meet the Team</h2>
            <p>Get to know the faces behind Warwick ASOC this year</p>
        </div>

        <div class="swiper team-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/img/exec/neil.jpg" alt="Rishi Jobanputra">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Rishi Jobanputra</div>
                            <div class="role">Co-President</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/img/exec/adam.jpg" alt="Vishali Poojara">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Vishali Poojara</div>
                            <div class="role">Co-President</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/img/exec/neil.jpg" alt="Bela Bhagat">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Bela Bhagat</div>
                            <div class="role">Vice-President and Secretary</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/img/exec/adam.jpg" alt="Gaurav Pant">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Gaurav Pant</div>
                            <div class="role">Treasurer</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/img/exec/neil.jpg" alt="Neil Shaabi">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Neil Shaabi</div>
                            <div class="role">Technology Coordinator</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/img/exec/adam.jpg" alt="Adam Syed">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Adam Syed</div>
                            <div class="role">Technology Coordinator</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

{% endblock %}
