<div style="margin:0; table-layout:fixed; background:#ddd; padding:40px 0; font-family:sans-serif; font-weight:400;">
    <table style="border-spacing:0; padding:50px; background:#fff; margin:0 auto; width:100%; max-width:600px; border-spacing:0; color:#444">
        
        <!-- Header -->
        <tr style="border-bottom:solid 1px #444;">
            <td style="text-align:center;">
                <img src="../static/img/logos/logo-black.png" alt="ASOC logo" style="width:120px; display:block; margin-left:auto; margin-right:auto;">
                <span style="font-size:1.3rem; font-weight:600">Warwick ASOC</span>
            </td>
        </tr>
        
        <tr>
            <td style="padding:20px 0;">
                <hr>
            </td>
        </tr>
        
        <!-- Main content -->
        <tr>
            <td>
                <p>Hello {{ name }},</p>
                {% if contact == True %}
                    <p>Thank you for getting in touch with us via our website's contact form. Kindly note that we have received the following message, and will respond to your query shortly.</p>
                    <p>Thank you,</p>
                    <p>Warwick ASOC Team</p>
                    --
                    <p>Message received: "{{ body }}"</p>
                {% else %}
                    <p>{{ body }}</p>
                    <div style="margin:20px 0; ">
                        <a href='{{ btn_link }}' style="text-decoration:none; padding:10px 30px; border:none; background:#ff4545; color: white; border-radius: 5px">
                            {{ btn_text }}
                        </a>
                    </div>
                    <p>If you have any questions, please <a href="www.warwick-asoc.co.uk/contact" style="text-decoration:none; color:#ff4545">contact us</a>.</p>
                    <p>Thank you,</p>
                    <p>Warwick ASOC Team</p>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td style="padding:20px 0;">
                <hr>
            </td>
        </tr>

        <!-- Footer content -->
        <tr>
            <td style="text-align:center;">
                <img src="../static/img/social-icons/facebook.svg" style="height:30px; margin:0 6px;">
                <img src="../static/img/social-icons/linkedin.svg" style="height:30px; margin:0 6px;">
                <img src="../static/img/social-icons/instagram.svg" style="height:30px; margin:0 6px;">
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px; text-align:center; color:#888; font-size:0.8rem;">
                <p>&copy; 2022 Warwick Asian Society. All Rights Reserved.</p>
            </td>
        </tr>

    </table>
</div>
