{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}

{% block main %}

    <div id="events-page">

        <div class="page-header">
            <h2>Events</h2>
            <p>View past and upcoming socials from our calendar</p>
        </div>

        <div class="calendar-container calendar-month">
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FLondon&showCalendars=0&showTitle=0&showPrint=0&showTabs=1&hl=en_GB&src=MHM5dGZlODFxbWIxMWprZ2VoZ2NzOGw1N2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000" style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>

        <div class="calendar-container calendar-agenda">
            <iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FLondon&showCalendars=0&showTitle=0&showPrint=0&showTabs=1&hl=en_GB&mode=AGENDA&src=MHM5dGZlODFxbWIxMWprZ2VoZ2NzOGw1N2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000" style="border-width:0" width="100%" height="500" frameborder="0" scrolling="no"></iframe>
        </div>
    
    </div>
        
{% endblock %}
