{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}

{% block main %}

    <div id="events-page">

        <div class="page-header">
            <h2>Events</h2>
            <p>View upcoming socials from our calendar</p>
        </div>

        <div class="calendar-container">
            <iframe class="calendar calendar-month" src="https://calendar.google.com/calendar/embed?wkst=2&bgcolor=%23ffffff&ctz=Europe%2FLondon&showTitle=0&showPrint=0&showCalendars=0&showTz=0&hl=en_GB&src=MHM5dGZlODFxbWIxMWprZ2VoZ2NzOGw1N2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000" scrolling="no"></iframe>
            <iframe class="calendar calendar-agenda" src="https://calendar.google.com/calendar/embed?wkst=2&bgcolor=%23ffffff&ctz=Europe%2FLondon&showTitle=0&showPrint=0&showCalendars=0&showTz=0&hl=en_GB&mode=AGENDA&src=MHM5dGZlODFxbWIxMWprZ2VoZ2NzOGw1N2tAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D50000" scrolling="no"></iframe>
        </div>
    
    </div>
        
{% endblock %}
