{% extends "layout.html" %}

{% block title %}
    Gallery
{% endblock %}

{% block main %}

    <div id="gallery-page">
        
        <div class="page-header">
            <h2>Gallery</h2>
            <p>Relive your favourite memories from this year</p>
        </div>

        <div class="gallery-container container-fluid">
            <div class="row event-container">
                <div class="event-thumbnail col-lg-6">
                    <img src="static/img/events/desi_night.JPG" alt="Event Preview" style='height: 100%; width: 100%; object-fit: cover;'>
                </div>
                <div class="event-details col-lg-6">
                    <h2>Desi Night</h2>
                    <p class="subtitle">21 Jan 2023</p>
                    <a href=https://drive.google.com/drive/folders/1YOZdwn7olcPF8scJ1NEEhyyBkE-cSUnj class="btn btn-primary">View</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}