{% extends "layout.html" %}

{% block title %}
    Gallery
{% endblock %}

{% block main %}

    <div id="gallery-page">
        
        <div class="page-header">
            <h2>Gallery</h2>
            <p>Relive your favourite memories from this year</p>
        </div>

            <div class="gallery-container container-fluid">
                
                <div class="row event-container">
                    <div class="event-thumbnail col-lg-6">
                        <img src="static/img/events/desi_night/IMG_0121.JPG" alt="Event Preview" style='height: 100%; width: 100%; object-fit: cover;'>
                    </div>
                    <div class="event-details col-lg-6">
                        <h2>Desi Night</h2>
                        <p class="subtitle">21/01/2023</p>
                        <a href="/photos/desi_night/21-01-2023" class="btn btn-primary">View</a>
                    </div>
                </div>

        </div>

    </div>

{% endblock %}