{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div id="home-page">
        <div class="home-body">
            
            <h1>Warwick Asian Society</h1>
            <p>Welcome to the UK's oldest Asian society, and the largest cultural society at the University of Warwick</p>
            <a href="/membership" class="btn btn-primary">Join Us</a>

            <div class="social-icons">
                <a class="social-link" href="https://m.facebook.com/warwickasiansociety"><i class="fa-brands fa-facebook-f"></i></a>
                <a class="social-link" href="https://www.linkedin.com/company/university-of-warwick-asian-society/"><i class="fa-brands fa-linkedin-in"></i></a>
                <a class="social-link" href="https://www.instagram.com/warwickasiansociety/"><i class="fa-brands fa-instagram"></i></a>
                <a class="social-link" href="mailto:officialwarwickasiansociety@gmail.com"><i class="fa-regular fa-envelope"></i></a>
            </div>
        </div>      
    </div>
        
{% endblock %}
