{% extends "layout.html" %}

{% block title %}
    Sign in
{% endblock %}

{% block main %}

    <div class="page-header"></div>

    <div class="container">
        <h3>Sign in</h3>
        <p>Don't have an account? <a href="/register">Sign up</a></p>
        <form id="login-form">
            <div class="form-floating">
                <input type="email" id="email" placeholder="Email address" class="form-control">
                <label for="email">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" id="password" placeholder="Password" class="form-control">
                <label for="password">Password</label>
            </div>
            <div class="description">
                <a href="/reset-password">Forgot password?</a>
            </div>
            <div id="error-alert" class="alert alert-danger" style="display: none;"></div>
            <button type="submit" class="btn btn-primary">
                <span class="btn-text">Continue</span>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                <span class="visually-hidden">Loading...</span>
            </button>
        </form>
    </div>

{% endblock %}
