{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}

    <div id="news-page">

        <div class="page-header">
            <h2>News</h2>
            <p>Stay up to date with our weekly newsletters</p>
        </div>

        <div class="swiper news-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/newsletters/newsletter_1.png" alt="Newsletter 1">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Newsletter 1</div>
                            <div class="role">Term 1: Week 7</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/newsletters/newsletter_2.png" alt="Newsletter 2">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Newsletter 2</div>
                            <div class="role">Term 1: Week 9</div>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="content">
                        <div class="swiper-img">
                            <img src="static/newsletters/newsletter_3.png" alt="Newsletter 3">
                        </div>
                        <div class="swiper-text">
                            <div class="name">Newsletter 3</div>
                            <div class="role">Term 2: Week 1</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

{% endblock %}
