{% extends "layout.html" %}

{% block title %}
    Our Team
{% endblock %}

{% block main %}

    <div id="team-page">

        <div class="page-header">
            <h2>Meet the Team</h2>
            <p>
                <span class="team-toggle active-toggle" id="exec-toggle">Executives</span>
                 | 
                <span class="team-toggle" id="frep-toggle">Fresher Reps</span>
            </p>
        </div>

        <!-- Execs -->
        <div id="exec-swiper" class="swiper team-swiper">
            <div class="swiper-wrapper">
                {% for member in execs %}
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="swiper-img">
                                <img src="static/img/exec/{{ member.img }}" alt="{{ member.name }}">
                                <div class="team-img-overlay">
                                    <p>{{ member.bio }}</p>
                                </div>
                            </div>
                            <div class="swiper-text">
                                <div class="name">{{ member.name }}</div>
                                <div class="role">{{ member.role }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>


        <!-- Freps -->
        <div id="frep-swiper" class="swiper team-swiper hidden">
            <div class="swiper-wrapper">
                {% for member in freps %}
                    <div class="swiper-slide">
                        <div class="content">
                            <div class="swiper-img">
                                <img src="static/img/freps/{{ member.img }}" alt="{{ member.name }}">
                                <div class="team-img-overlay">
                                    <p>{{ member.bio }}</p>
                                </div>
                            </div>
                            <div class="swiper-text">
                                <div class="name">{{ member.name }}</div>
                                <div class="role">{{ member.role }}</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>

{% endblock %}
