{% extends "layout.html" %}

{% block title %}
    Verify Email
{% endblock %}

{% block main %}

    <div class="page-header"></div>
    
    <div class="container">
        <h3>Verify your email</h3>
        <p>Check <strong>{{ email }}</strong> to verify your account and get started</p>
        <form id="verify-email-form">
            <button type="submit" class="btn btn-primary">
                <span class="btn-text">Resend Email</span>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                <span class="visually-hidden">Loading...</span>
            </button>
        </form>
        <p class="description">Need help? <a href='/contact'>Contact us</a></p>
    </div>

{% endblock %}
